#Competences {
    background-color: #d1d1d1;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;

    .bloc-img {
        flex-basis: 45%;

        .ContainerImg {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .Bloc-Graphique {
        display: flex;
        flex-basis: 50%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        z-index: 1;

        h2 {
            color: #0573f4;
            text-align: center;
            font-size: 35px;
            flex-basis: 10%;
            font-weight: bold;
            margin: 30px;
        }

        ul {
            width: 90%;

            li {
                padding: 10px;
                margin-bottom: 20px;
                color: rgb(255, 255, 255);
                display: flex;
                justify-content: space-between;
                font-size: 18px;
            }

            .HTML.visible {
                animation: animationcompetence 5s 0.1s;
            }

            .CSS.visible {
                animation: animationcompetence 5s 0.2s;
            }

            .SASS.visible {
                animation: animationcompetence 5s 0.3s;
            }

            .JavaScript.visible {
                animation: animationcompetence 5s 0.4s;
            }

            .React.visible {
                animation: animationcompetence 5s 0.5s;
            }

            .Apprentissage.visible {
                animation: animationcompetence 5s 0.6s;
            }

            li:not(.visible) {
                opacity: 0;
            }

            .HTML {
                background-color: #e08600;
                width: 90%;
            }

            .CSS {
                background-color: #0a5193;
                width: 85%;
            }

            .SASS {
                background-color: #a60382;
                width: 80%;
            }

            .JavaScript {
                background-color: #ecd50b;
                width: 55%;
            }

            .React {
                background-color: #2a99ff;
                width: 65%;
            }

            .Apprentissage {
                background-color: black;
                justify-content: center;
            }

            .logohtml {
                margin-right: 10px;
                font-size: 18px;
            }

            .logoCSS {
                margin-right: 10px;
                font-size: 18px;
            }

            .logoSass {
                margin-right: 10px;
                font-size: 18px;
            }

            .logoJS {
                margin-right: 10px;
                font-size: 18px;
            }

            .logoReact {
                margin-right: 10px;
                font-size: 18px;
            }

            .logoWordpress {
                margin-right: 10px;
                font-size: 18px;
            }
        }
    }
}

@keyframes animationcompetence {
    from {
        transform: translateY(50%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}