#Realisation {
    display: flex;
    background-color: #F8F8F8;
    text-align: center;
    flex-wrap: wrap;

    h2 {
        font-size: 35px;
        flex-basis: 100%;
        color: #0573F4;
        
        margin: 100px 0px;
        font-weight: bold;
        
    }
    .Card {
        display: flex;
       flex-basis: 100%;
       justify-content: space-around;
       flex-wrap: wrap;
       column-gap: 10px;
       row-gap: 50px;
       margin-bottom: 50px;
        a{
           
            border-radius: 50px;
            width: 25%;
            // position: relative; 
            // transition: transform 0.6s;
            // transform-style: preserve-3d;

            .Container-Img{
                width: 100%;
                border-radius: 50px;
                // background-color: #ffff;
                img{
                    width: 100%;
                    border-radius: 50px;
                }
            }
        }
        // a:hover{
        //     transform: rotateY(180deg);
        // }
    }

}